<h2>Edit Field</h2>

<form [formGroup]="form" novalidate>
    <mat-list>
        <mat-list-item>
            ID: {{ fieldId }}
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Area" type="number" formControlName="area">
            </mat-form-field>
        </mat-list-item>

        <br>

        <mat-list-item>
            <mat-action-list>
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="update()">
                    <mat-icon svgIcon="check"></mat-icon> Save
                </button>
                <button mat-raised-button color="warn" (click)="deleteById()">
                    <mat-icon svgIcon="trash-can-outline"></mat-icon> Delete
                </button>
                <button mat-raised-button color="accent" (click)="getProductivity()">
                    <mat-icon svgIcon="sprout-outline"></mat-icon> Productivity
                </button>
                <button mat-stroked-button routerLink="/fields">
                    <mat-icon svgIcon="table-large"></mat-icon> Go to list
                </button>
            </mat-action-list>
        </mat-list-item>
    </mat-list>
</form>