<h2>New Field</h2>

<form [formGroup]="form" novalidate>
    <mat-list>
        <mat-list-item>
            <mat-form-field>
                <mat-label>Select a Farm</mat-label>
                <mat-select formControlName="farmId" name="farmSelect" #farmSelect
                    (ngModelChange)="changeFarmCurrent(farmSelect.value)">
                    <mat-option *ngFor="let farm of farms" [value]="farm.id">
                        {{ farm.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Area" type="number" formControlName="area">
            </mat-form-field>
        </mat-list-item>

        <br>

        <mat-list-item>
            <mat-action-list>
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="insert()">
                    <mat-icon svgIcon="check"></mat-icon> Save
                </button>
                &nbsp;
                <button mat-stroked-button routerLink="/fields">
                    <mat-icon svgIcon="table-large"></mat-icon> Go to list
                </button>
            </mat-action-list>
        </mat-list-item>
    </mat-list>
</form>