<h2>New Production</h2>

<form [formGroup]="form" novalidate>
    <mat-list>
        <mat-list-item>
            <mat-form-field>
                <mat-label>Select a Farm</mat-label>
                <mat-select formControlName="farmId" name="farmSelect" #farmSelect
                    (ngModelChange)="changeFarmCurrent(farmSelect.value)">
                    <mat-option *ngFor="let farm of farms" [value]="farm.id">
                        {{ farm.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <mat-label>Select a Field</mat-label>
                <mat-select formControlName="fieldId" name="fieldSelect" #fieldSelect
                    (ngModelChange)="changeFieldCurrent(fieldSelect.value)">
                    <mat-option *ngFor="let field of fields" [value]="field.id">
                        {{ field.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Value" type="number" formControlName="value">
            </mat-form-field>
        </mat-list-item>

        <br>

        <mat-list-item>
            <mat-action-list>
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="insert()">
                    <mat-icon svgIcon="check"></mat-icon> Save
                </button>
                <button mat-stroked-button routerLink="/productions">
                    <mat-icon svgIcon="table-large"></mat-icon> Go to list
                </button>
            </mat-action-list>
        </mat-list-item>
    </mat-list>
</form>