<h2>Edit Production</h2>

<form [formGroup]="form" novalidate>
    <mat-list>
        <mat-list-item>
            <span class="text-muted">ID: {{ production.id }}</span>
        </mat-list-item>

        <mat-list-item>
            <mat-form-field>
                <input matInput placeholder="Value" type="number" formControlName="value">
            </mat-form-field>
        </mat-list-item>

        <br>

        <mat-list-item>
            <mat-action-list>
                <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="update()">
                    <mat-icon svgIcon="check"></mat-icon> Save
                </button>
                <button mat-raised-button color="warn" (click)="deleteById()">
                    <mat-icon svgIcon="trash-can-outline"></mat-icon> Delete
                </button>
                &nbsp;
                <button mat-stroked-button routerLink="/productions">
                    <mat-icon svgIcon="table-large"></mat-icon> Go to list
                </button>
            </mat-action-list>
        </mat-list-item>
    </mat-list>
</form>